<!doctype html>
<html lang="en">
<head>
    <title>TWCompanyTree</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap-responsive.css') }}">

</head>
<style>

.node {
  stroke: #fff;
  stroke-width: 1.5px;
}
.link {
  stroke: #999;
  stroke-opacity: .6;
}
</style>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
                <a class="brand" href="/">TWCT</a>
                <ul class="nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/search">item2</a></li>
                    <li><a href="/total">item3</a></li>
                </ul>
                <form id="search-form" action="/company/search" method="post">
                    <input id="query" type="text" class="search-query" placeholder="Search" >
                    <input id="search-submit" type="submit" class="btn inline">
                </form>
        </div>
    </div>

    <div class="container">
    {% block content %}
    {% endblock %}
    </div>

    <hr>
    <footer>
        <p>&copy; Solring 2014</p>
    </footer>
</body>
</html>
